<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="MyFile" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log"
                     ignoreExceptions="false">
            <PatternLayout pattern=" %d %-5level %logger{36}: %msg%n"/>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="hippodrome.*.log"/>
                    <IfLastModified age="P7D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>`
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>